In [25]:
import pandas as pd

# tests

In [50]:
test = pd.read_csv("hyperparam_search/test.csv")
test2 = pd.read_csv("hyperparam_search/test2.csv")
test3 = pd.read_csv("hyperparam_search/test3.csv")

In [40]:
test.head()

   MEAN_FITNESS_DELTA  iterations
0            0.000000           1
1            0.556472           2
2            0.227259           3
3            0.045728           4
4            0.463627           5

In [18]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   MEAN_FITNESS  20 non-null     float64
 1   iterations    20 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 448.0 bytes

In [41]:
test.head(20)

    MEAN_FITNESS_DELTA  iterations
0             0.000000           1
1             0.556472           2
2             0.227259           3
3             0.045728           4
4             0.463627           5
5             0.241513           6
6             0.241269           7
7             0.322193           8
8             0.711629           9
9             0.788966          10
10            0.536628          11
11            0.632954          12
12            0.064445          13
13            0.293319          14
14            0.111769          15
15            0.252293          16
16            0.329266          17
17            0.719810          18
18            0.307041          19
19            0.328978          20

In [43]:
test.describe()

       MEAN_FITNESS_DELTA  iterations
count           20.000000    20.00000
mean             0.358758    10.50000
std              0.233668     5.91608
min              0.000000     1.00000
25%              0.237767     5.75000
50%              0.314617    10.50000
75%              0.541589    15.25000
max              0.788966    20.00000

In [51]:
test2.head()

   MEAN_FITNESS_DELTA  pop_size  iterations
0            0.247293        10          10
1            0.526108        10          30
2            0.305350        50          10
3            0.340988        50          30

In [52]:
test3.head(30)

    EVOLUTION_SPEED  iterations
0          0.000000           1
1          0.005897           2
2          0.036282           3
3          0.046227           4
4          0.077962           5
5          0.104242           6
6          0.078802           7
7          0.084873           8
8          0.045764           9
9          0.039291          10
10         0.000000           1
11         0.032118           2
12         0.032320           3
13         0.023397           4
14         0.050343           5
15         0.046838           6
16         0.045563           7
17         0.030747           8
18         0.028049           9
19         0.026790          10
20         0.016186          11
21         0.009769          12
22         0.007857          13
23         0.033554          14
24         0.008101          15
25         0.012408          16
26         0.040818          17
27         0.005093          18
28         0.001180          19
29         0.022311          20

# Utility functions

In [ ]:
def plot(x, y, z=None):

# experiment: no_iterations

In [54]:
no_iterations = pd.read_csv("hyperparam_search/no_iterations.csv")
no_iterations.head(10)

   MEAN_FITNESS_DELTA  iterations
0            0.000000           1
1           -0.065829           2
2            0.116504           3
3            0.133765           4
4            0.067644           5
5            0.314348           6
6            0.438543           7
7            0.185812           8
8            0.701158           9
9            0.235607          10